body {
    background-color: dimgray;
}

header {
    background-color: darkslategray;
    position: fixed;
    display: block;
}

header .flexbox {
    display: flex;
}

nav ul{
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}

nav ul li{
    color: wheat
}

li.current {
    background-color: wheat;
    color:darkslategray;
}